<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is the strawberry page</h1>
    <a href="/">Back</a>
    <img
      src="https://www.almanac.com/sites/default/files/image_nodes/strawberries-1.jpg"
      alt=""
    />
  </body>
</html>
